.o_Invoice {
    transform: scale(0.5);
    opacity: 0;

    .o_filter_input {
        input {
        }

        .btn {
            display: flex;
            align-items: center;
        }
    }

    .table-responsive {
        min-height: 300px;
    }

    &.zoomed-in {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transform: scale(1);
        opacity: 1;
    }
}
